on:
  issues:
    types: 
      - opened

jobs:
  ocaml_test_job:
    runs-on: ubuntu-latest
    name: A job to test OCaml

    permissions: read-all

    steps:
      - env:
        EVENT_CONTEXT: ${{ toJSON(github.evnet) }}
        run: |
          echo $EVENT_CONTEXT
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v3
      - name: OCaml test action step
        uses: ./ # Uses an action in the root directory
        id: ocaml_test
        with:
          issue_num: ${{ toJSON(github.event.issue.issue.number) }}
          issue_contents: ${{ toJSON(github.event.issue.issue.body) }}
      # Use the output from the `ocaml_test` step
      - name: Get the output string
        run: echo "The output was ${{ steps.ocaml_test.outputs.string }}"